In [34]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [35]:
import numpy as np
import pandas as pd

In [36]:
#df = pd.read_csv('Motor_Vehicle_Collisions_-_Crashes.csv', low_memory=False)

In [37]:
df = pd.read_csv('/content/drive/MyDrive/Case_Task/Motor_Vehicle_Collision_NYC/Motor_Vehicle_Collisions_-_Crashes.csv', low_memory=False)

In [38]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/14/2021,5:32,NaN,NaN,NaN,NaN,NaN,BRONX WHITESTONE BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4407480,Sedan,Sedan,NaN,NaN,NaN
1,04/13/2021,21:35,BROOKLYN,11217,40.68358,-73.97617,"(40.68358, -73.97617)",NaN,NaN,620 ATLANTIC AVENUE,...,NaN,NaN,NaN,NaN,4407147,Sedan,NaN,NaN,NaN,NaN
2,04/15/2021,16:15,NaN,NaN,NaN,NaN,NaN,HUTCHINSON RIVER PARKWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4407665,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
3,04/13/2021,16:00,BROOKLYN,11222,NaN,NaN,NaN,VANDERVORT AVENUE,ANTHONY STREET,NaN,...,Unspecified,NaN,NaN,NaN,4407811,Sedan,NaN,NaN,NaN,NaN
4,04/12/2021,8:25,NaN,NaN,0.00000,0.00000,"(0.0, 0.0)",EDSON AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4406885,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN

In [39]:
df.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [40]:
df.drop(columns=['LOCATION','CROSS STREET NAME','OFF STREET NAME'], inplace=True)

df = df.loc[:, ~df.columns.str.startswith('VEHICLE TYPE')]
df = df.loc[:, ~df.columns.str.startswith('CONTRIBUTING FACTOR')]

In [41]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID
0,04/14/2021,5:32,NaN,NaN,NaN,NaN,BRONX WHITESTONE BRIDGE,0.0,0.0,0,0,0,0,0,0,4407480
1,04/13/2021,21:35,BROOKLYN,11217,40.68358,-73.97617,NaN,1.0,0.0,1,0,0,0,0,0,4407147
2,04/15/2021,16:15,NaN,NaN,NaN,NaN,HUTCHINSON RIVER PARKWAY,0.0,0.0,0,0,0,0,0,0,4407665
3,04/13/2021,16:00,BROOKLYN,11222,NaN,NaN,VANDERVORT AVENUE,0.0,0.0,0,0,0,0,0,0,4407811
4,04/12/2021,8:25,NaN,NaN,0.00000,0.00000,EDSON AVENUE,0.0,0.0,0,0,0,0,0,0,4406885

In [42]:
df['timestamp'] = pd.to_datetime(df['CRASH DATE'] + ' ' + df['CRASH TIME'], format='%m/%d/%Y %H:%M')

In [43]:
integer_columns = df.columns.str.contains('NUMBER OF')

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1876132 entries, 0 to 1876131
Data columns (total 17 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   ON STREET NAME                 object
 7   NUMBER OF PERSONS INJURED      float64
 8   NUMBER OF PERSONS KILLED       float64
 9   NUMBER OF PEDESTRIANS INJURED  int64
 10  NUMBER OF PEDESTRIANS KILLED   int64
 11  NUMBER OF CYCLIST INJURED      int64
 12  NUMBER OF CYCLIST KILLED       int64
 13  NUMBER OF MOTORIST INJURED     int64
 14  NUMBER OF MOTORIST KILLED      int64
 15  COLLISION_ID                   int64
 16  timestamp                      datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(7), object(5)
memory usage: 243.3+ MB

In [45]:
#number values assign as int16 for better memory
df.loc[:, integer_columns] = df.loc[:, integer_columns].astype(pd.Int16Dtype())

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1876132 entries, 0 to 1876131
Data columns (total 17 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   ON STREET NAME                 object
 7   NUMBER OF PERSONS INJURED      Int16
 8   NUMBER OF PERSONS KILLED       Int16
 9   NUMBER OF PEDESTRIANS INJURED  Int16
 10  NUMBER OF PEDESTRIANS KILLED   Int16
 11  NUMBER OF CYCLIST INJURED      Int16
 12  NUMBER OF CYCLIST KILLED       Int16
 13  NUMBER OF MOTORIST INJURED     Int16
 14  NUMBER OF MOTORIST KILLED      Int16
 15  COLLISION_ID                   int64
 16  timestamp                      datetime64[ns]
dtypes: Int16(8), datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 171.8+ MB

In [47]:
#convert names lower and replace blanks
df = df.convert_dtypes()
df.columns= df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [48]:
df.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,on_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,collision_id,timestamp
0,04/14/2021,5:32,<NA>,<NA>,<NA>,<NA>,BRONX WHITESTONE BRIDGE,0,0,0,0,0,0,0,0,4407480,2021-04-14 05:32:00
1,04/13/2021,21:35,BROOKLYN,11217,40.68358,-73.97617,<NA>,1,0,1,0,0,0,0,0,4407147,2021-04-13 21:35:00
2,04/15/2021,16:15,<NA>,<NA>,<NA>,<NA>,HUTCHINSON RIVER PARKWAY,0,0,0,0,0,0,0,0,4407665,2021-04-15 16:15:00
3,04/13/2021,16:00,BROOKLYN,11222,<NA>,<NA>,VANDERVORT AVENUE,0,0,0,0,0,0,0,0,4407811,2021-04-13 16:00:00
4,04/12/2021,8:25,<NA>,<NA>,0.0,0.0,EDSON AVENUE,0,0,0,0,0,0,0,0,4406885,2021-04-12 08:25:00

In [49]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
latitude,1658152.0,4.066523e+01,1.550894e+00,0.00000,4.066836e+01,4.072158e+01,4.076922e+01,4.334444e+01
longitude,1658152.0,-7.382093e+01,2.994521e+00,-201.35999,-7.397538e+01,-7.392781e+01,-7.386665e+01,0.000000e+00
number_of_persons_injured,1876114.0,2.851916e-01,6.782014e-01,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,4.300000e+01
number_of_persons_killed,1876101.0,1.352273e-03,3.883579e-02,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,8.000000e+00
number_of_pedestrians_injured,1876132.0,5.277987e-02,2.360662e-01,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,2.700000e+01
number_of_pedestrians_killed,1876132.0,6.950470e-04,2.687528e-02,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00
number_of_cyclist_injured,1876132.0,2.410918e-02,1.551194e-01,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
number_of_cyclist_killed,1876132.0,1.002062e-04,1.006291e-02,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00
number_of_motorist_injured,1876132.0,2.068628e-01,6.398588e-01,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,4.300000e+01
number_of_motorist_killed,1876132.0,5.479359e-04,2.557808e-02,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00
collision_id,1876132.0,3.005310e+06,1.502593e+06,22.00000,3.023636e+06,3.574252e+06,4.043549e+06,4.512994e+06

In [50]:
df.dtypes

crash_date                               string
crash_time                               string
borough                                  string
zip_code                                 string
latitude                                Float64
longitude                               Float64
on_street_name                           string
number_of_persons_injured                 Int16
number_of_persons_killed                  Int16
number_of_pedestrians_injured             Int16
number_of_pedestrians_killed              Int16
number_of_cyclist_injured                 Int16
number_of_cyclist_killed                  Int16
number_of_motorist_injured                Int16
number_of_motorist_killed                 Int16
collision_id                              Int64
timestamp                        datetime64[ns]
dtype: object

In [51]:
# write to parquet file
df.to_parquet('crashes.parquet', engine='pyarrow', compression='brotli', index=True)